/* bmi-indicator.css */

/* กำหนดค่าตัวแปรสำหรับความสูงของแถบ BMI */
:root {
    --bmi-bar-height: 100px;
}

/* สไตล์สำหรับแถบ BMI */
.bmi-bar {
    width: 65%;
    height: auto;
    display: flex;
    align-items: flex-end;
    overflow: visible;
    margin-left: 0;
}

/* สไตล์สำหรับแต่ละส่วนของแถบ BMI */
.bmi-section {
    height: var(--bmi-bar-height);
    box-sizing: border-box;
    border: 2px solid black;
    transition: flex 0.3s ease, height 0.3s ease;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    position: relative;
}
/* สืบทอด font-size จาก .sbp-section ไปยัง <span> ภายใน */
.bmi-section span {
    font-size: inherit;
}

/* สีพื้นหลังสำหรับแต่ละระดับของ BMI */
.bmi-section.underweight {
    background-color: #0099FF; /* ฟ้า */
}

.bmi-section.normal {
    background-color: green; /* เขียว */
}

.bmi-section.overweight {
    background-color: yellow; /* เหลือง */
    color: black;
}

.bmi-section.obese {
    background-color: orange; /* ส้ม */
}

.bmi-section.morbidly-obese {
    background-color: red; /* แดง */
}

/* สไตล์สำหรับส่วนที่ถูกไฮไลท์ในแถบ BMI */
.bmi-highlighted {
    flex: 2;
    height: calc(var(--bmi-bar-height) * 2);
    border: 4px solid lightgreen;
}

/* สร้างลูกศรในส่วนที่ถูกไฮไลท์ */
.bmi-highlighted::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 40px solid black;
}

/* สไตล์สำหรับหน้าจอขนาดเล็ก */
@media (max-width: 440px) {
    :root {
        --bmi-bar-height: 60px;
    }

    .bmi-section {
        font-size: 0.2em;
    }

    .bmi-highlighted::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid black;
    }
}

@media (max-width: 560px) {
    :root {
        --bmi-bar-height: 60px;
    }

    .bmi-section {
        font-size: 0.4em;
    }
    .bmi-bar {
    width: 45%;

}

    .bmi-highlighted::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid black;
    }
}

@media (max-width: 900px) {
    :root {
        --bmi-bar-height: 100px;
    }

    .bmi-section {
        font-size: 0.7em;
    }

    .bmi-highlighted::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid black;
    }
}

@media (max-width: 1200px) {
    :root {
        --bmi-bar-height: 100px;
    }

    .bmi-section {
        font-size: 0.9em;
    }

    .bmi-highlighted::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid black;
    }
}
