/* cholesterol-indicator.css */

/* กำหนดค่าตัวแปรสำหรับความสูงของแถบ Cholesterol */
:root {
    --cholesterol-bar-height: 100px;
}

/* สไตล์สำหรับแถบ Cholesterol */
.cholesterol-bar {
    width: 65%;
    height: auto;
    display: flex;
    align-items: flex-end;
    overflow: visible;
    margin-left: 0;
}

/* สไตล์สำหรับแต่ละส่วนของแถบ Cholesterol */
.cholesterol-section {
    height: var(--cholesterol-bar-height);
    box-sizing: border-box;
    border: 2px solid black;
    transition: flex 0.3s ease, height 0.3s ease;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    position: relative;
}
/* สืบทอด font-size จาก .sbp-section ไปยัง <span> ภายใน */
.cholesterol-section span {
    font-size: inherit;
}

/* สีพื้นหลังสำหรับแต่ละระดับของ Cholesterol */
.cholesterol-section.normal {
    background-color: green; /* เขียว */
}

.cholesterol-section.borderline-high {
    background-color: orange; /* ส้ม */
}

.cholesterol-section.high {
    background-color: red; /* แดง */
}

/* สไตล์สำหรับส่วนที่ถูกไฮไลท์ในแถบ Cholesterol */
.cholesterol-highlighted {
    flex: 2;
    height: calc(var(--cholesterol-bar-height) * 2);
    border: 4px solid lightgreen;
}

/* สร้างลูกศรในส่วนที่ถูกไฮไลท์ */
.cholesterol-highlighted::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 40px solid black;
}

/* สไตล์สำหรับหน้าจอขนาดเล็ก */
@media (max-width: 440px) {
    :root {
        --cholesterol-bar-height: 60px;
    }

    .cholesterol-section {
        font-size: 0.2em;
    }

    .cholesterol-highlighted::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid black;
    }
}

@media (max-width: 560px) {
    :root {
        --cholesterol-bar-height: 60px;
    }

    .cholesterol-section {
        font-size: 0.4em;
    }
    .cholesterol-bar {
    width: 45%;

}

    .cholesterol-highlighted::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid black;
    }
}

@media (max-width: 900px) {
    :root {
        --cholesterol-bar-height: 100px;
    }

    .cholesterol-section {
        font-size: 0.7em;
    }

    .cholesterol-highlighted::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid black;
    }
}

@media (max-width: 1200px) {
    :root {
        --cholesterol-bar-height: 100px;
    }

    .cholesterol-section {
        font-size: 0.9em;
    }

    .cholesterol-highlighted::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid black;
    }
}
